Repository softdaddy-o/yes-ue-fsd: changes, and which Codecov flags are due for each by the changed paths.
All: python-tests, cpp-tests

feat: Implement screenshot capture and export functionality
  Content/Python/screenshot_system.py
  Content/Python/tests/test_screenshot_system.py
  Docs/ScreenshotCapture.md
  README.md
  Source/YesUeFsd/Private/Testing/ScreenshotHelper.cpp
  Source/YesUeFsd/Public/Testing/ScreenshotHelper.h
Due: python-tests, cpp-tests

feat: Replace MCP server with two-layer test framework architecture
  Content/Python/README.md
  Content/Python/requirements.txt
  Content/Python/tests/conftest.py
  Content/Python/tests/test_multiplayer.py
  Content/Python/tests/test_single_player.py
  Content/Python/yes_ue_fsd/__init__.py
  Content/Python/yes_ue_fsd/local_layer/__init__.py
  Content/Python/yes_ue_fsd/local_layer/autodriver.py
  Content/Python/yes_ue_fsd/local_layer/instance_context.py
  Content/Python/yes_ue_fsd/local_layer/recording.py
  Content/Python/yes_ue_fsd/meta_layer/__init__.py
  Content/Python/yes_ue_fsd/meta_layer/result_aggregator.py
  Content/Python/yes_ue_fsd/meta_layer/test_runner.py
  Content/Python/yes_ue_fsd/meta_layer/ue_launcher.py
  Docs/MigrationGuide.md
  Docs/TwoLayerArchitecture.md
  README.md
  Source/YesUeFsdEditor/Private/Server/McpServer.cpp
  Source/YesUeFsdEditor/Private/Subsystem/McpEditorSubsystem.cpp
  Source/YesUeFsdEditor/Public/Server/McpServer.h
  Source/YesUeFsdEditor/Public/Subsystem/McpEditorSubsystem.h
  Source/YesUeFsdEditor/Tests/McpServerTests.cpp
Due: python-tests, cpp-tests

refactor: Simplify two-layer framework code for better maintainability
  Content/Python/tests/conftest.py
  Content/Python/yes_ue_fsd/local_layer/instance_context.py
  Content/Python/yes_ue_fsd/meta_layer/result_aggregator.py
  Content/Python/yes_ue_fsd/meta_layer/test_runner.py
  Content/Python/yes_ue_fsd/meta_layer/ue_launcher.py
Due: python-tests

feat: Add BDD Integration with Gherkin-style test syntax support
  Content/Python/requirements.txt
  Content/Python/tests/conftest.py
  Content/Python/tests/features/combat.feature
  Content/Python/tests/features/player_movement.feature
  Content/Python/tests/features/ui_interaction.feature
  Content/Python/tests/test_bdd_combat.py
  Content/Python/tests/test_bdd_movement.py
  Content/Python/tests/test_bdd_ui.py
  Docs/BDD-Integration.md
Due: python-tests

feat: Add Rich HTML Reports with screenshots and performance metrics
  Content/Python/pytest.ini
  Content/Python/requirements.txt
  Content/Python/yes_ue_fsd/reporting/__init__.py
  Content/Python/yes_ue_fsd/reporting/html_reporter.py
  Content/Python/yes_ue_fsd/reporting/performance_metrics.py
  Content/Python/yes_ue_fsd/reporting/report_generator.py
  Content/Python/yes_ue_fsd/reporting/screenshot_integration.py
  Docs/Rich-HTML-Reports.md
Due: python-tests

feat: Add parallel test execution with editor instance pooling
  Content/Python/yes_ue_fsd/parallel/__init__.py
  Content/Python/yes_ue_fsd/parallel/instance_pool.py
  Content/Python/yes_ue_fsd/parallel/parallel_config.py
  Content/Python/yes_ue_fsd/parallel/resource_manager.py
  Docs/Parallel-Testing.md
Due: python-tests

feat: Add test retry and flake detection
  Content/Python/pytest.ini
  Content/Python/requirements.txt
  Content/Python/yes_ue_fsd/flake_detection/__init__.py
  Content/Python/yes_ue_fsd/flake_detection/flake_tracker.py
  Content/Python/yes_ue_fsd/flake_detection/retry_config.py
Due: python-tests

feat: Add visual regression, performance profiling, data-driven testing, fixtures, and API testing
  Content/Python/requirements.txt
  Content/Python/yes_ue_fsd/api_testing/__init__.py
  Content/Python/yes_ue_fsd/api_testing/api_client.py
  Content/Python/yes_ue_fsd/data_driven/__init__.py
  Content/Python/yes_ue_fsd/data_driven/data_loaders.py
  Content/Python/yes_ue_fsd/fixtures/__init__.py
  Content/Python/yes_ue_fsd/fixtures/game_fixtures.py
  Content/Python/yes_ue_fsd/fixtures/player_fixtures.py
  Content/Python/yes_ue_fsd/fixtures/world_fixtures.py
  Content/Python/yes_ue_fsd/performance/__init__.py
  Content/Python/yes_ue_fsd/performance/profiler.py
  Content/Python/yes_ue_fsd/visual_regression/__init__.py
  Content/Python/yes_ue_fsd/visual_regression/baseline_manager.py
  Content/Python/yes_ue_fsd/visual_regression/image_comparator.py
  Docs/ROADMAP.md
Due: python-tests

feat: Add live debugging, cloud testing, CI/CD dashboard, AI testing, cross-platform, and code generation
  Content/Python/yes_ue_fsd/ai_testing/__init__.py
  Content/Python/yes_ue_fsd/ai_testing/test_generator.py
  Content/Python/yes_ue_fsd/ci_cd/__init__.py
  Content/Python/yes_ue_fsd/ci_cd/dashboard_generator.py
  Content/Python/yes_ue_fsd/ci_cd/notification_service.py
  Content/Python/yes_ue_fsd/cloud/__init__.py
  Content/Python/yes_ue_fsd/cloud/cloud_config.py
  Content/Python/yes_ue_fsd/codegen/__init__.py
  Content/Python/yes_ue_fsd/codegen/recorder_codegen.py
  Content/Python/yes_ue_fsd/cross_platform/__init__.py
  Content/Python/yes_ue_fsd/cross_platform/platform_config.py
  Content/Python/yes_ue_fsd/debugging/__init__.py
  Content/Python/yes_ue_fsd/debugging/interactive_debugger.py
Due: python-tests

Add plugin deployment script for Elpis and GameAnim projects
  copy_plugin.ps1
Due: none

Fix: Resolve UHT compilation error in ScreenshotHelper
  Source/YesUeFsd/Private/Testing/ScreenshotHelper.cpp
  Source/YesUeFsd/Public/Testing/ScreenshotHelper.h
Due: cpp-tests

Add Elpis project setup guide
  ELPIS_SETUP.md
Due: none

Fix: Update EnhancedInputAdapter for UE 5.7 API changes
  Source/YesUeFsd/Private/AutoDriver/EnhancedInputAdapter.cpp
Due: cpp-tests

Fix: Complete UE 5.7 API compatibility fixes
  .claude/settings.local.json
  Source/YesUeFsd/Private/AutoDriver/EnhancedInputAdapter.cpp
  Source/YesUeFsd/Private/AutoDriver/WidgetQueryHelper.cpp
  Source/YesUeFsd/Private/BehaviorTree/BTTask_AutoDriverBase.cpp
  Source/YesUeFsd/Public/BehaviorTree/BTTask_AutoDriverBase.h
Due: cpp-tests

Fix: Update HandleTimeout to use new AbortTask signature
  Source/YesUeFsd/Private/BehaviorTree/BTTask_AutoDriverBase.cpp
Due: cpp-tests

Fix: Update ActionPlayback to use struct-based API
  Source/YesUeFsd/Private/Recording/ActionPlayback.cpp
Due: cpp-tests

Disable Tests folder to fix build
  .claude/settings.local.json
  Source/YesUeFsd/Tests_Disabled/AutoDriverComponentTests.cpp
  Source/YesUeFsd/Tests_Disabled/IntegrationTests.cpp
  Source/YesUeFsd/Tests_Disabled/MemoryLeakTests.cpp
  Source/YesUeFsd/Tests_Disabled/NavigationTests.cpp
  Source/YesUeFsd/Tests_Disabled/PerformanceTests.cpp
  Source/YesUeFsd/Tests_Disabled/ThreadSafetyTests.cpp
Due: cpp-tests

Remove Tests folder completely - not needed for plugin functionality
  Source/YesUeFsd/Tests_Disabled/AutoDriverComponentTests.cpp
  Source/YesUeFsd/Tests_Disabled/IntegrationTests.cpp
  Source/YesUeFsd/Tests_Disabled/MemoryLeakTests.cpp
  Source/YesUeFsd/Tests_Disabled/NavigationTests.cpp
  Source/YesUeFsd/Tests_Disabled/PerformanceTests.cpp
  Source/YesUeFsd/Tests_Disabled/ThreadSafetyTests.cpp
Due: cpp-tests

Fix: Additional UE 5.7 API compatibility fixes
  Source/YesUeFsd/Private/AutoDriver/AutoDriverComponent.cpp
  Source/YesUeFsd/Private/AutoDriver/Commands/MoveToLocationCommand.cpp
  Source/YesUeFsd/Private/AutoDriver/EnhancedInputAdapter.cpp
  Source/YesUeFsd/Private/AutoDriver/NavigationCache.cpp
  Source/YesUeFsd/Private/BehaviorTree/BTTask_AutoDriverRotate.cpp
  Source/YesUeFsd/Public/AutoDriver/NavigationCache.h
Due: cpp-tests

Fix: Use RemoveAll with predicate for FEnhancedInputActionMapping
  Source/YesUeFsd/Private/AutoDriver/EnhancedInputAdapter.cpp
Due: cpp-tests

Fix: UE 5.7 compilation errors
  .claude/settings.local.json
  ELPIS_SETUP.md
  Source/YesUeFsd/Private/AutoDriver/Commands/MoveToLocationCommand.cpp
  Source/YesUeFsd/Private/BehaviorTree/BTTask_AutoDriverMove.cpp
  Source/YesUeFsd/Public/AutoDriver/NavigationCache.h
  Source/YesUeFsdEditor/Private/Python/AutoDriverPythonBridge.cpp
Due: cpp-tests

Fix: Add EnhancedInput plugin dependency
  YesUeFsd.uplugin
Due: none

Path conditions:
  python-tests: any of: Content/Python/
  cpp-tests: any of: Source/YesUeFsd/, Source/YesUeFsdEditor/
